

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="studentTable">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Mid Name</th>
            <th>Enrollment Date</th>
            <th>Details</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>

</table>

 @section scripts
 {
     <script>
         $(document)
             .ready(function() {


                 var datatable = $("#studentTable").DataTable({
                     ajax: {
                         url: "/api/students",
                         dataSrc:""
                     },
                     columns: [
                         {
                             data: "LastName"
                         },
                         {
                             data: "FirstMidName",
                             sort:false
                         },
                         {
                             data: "EnrollmentDate"
                             
                             
                         },
                         {
                             data: "ID",
                             render:function(data) {
                                 var row = "<a href='/students/details/"+data+"' class='btn'>Details</a>" ;
                                 //console.log(row);
                                 return row;
                             }
                         },
                         {
                             data: "ID",
                             render:function(data) {
                                var row = "<a href='/students/edit/"+data+"' class='btn'>Edit</a>" ;
                             //console.log(row);
                                 return row;
                             }
                         }

                     ]
                     
                     
                     

                 });

                 $.fn.dataTable.ext.errMode = 'throw';


             });


     </script>

 }


